// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

// BASE
// ----------------------------
.content {
  padding-left: 1em;
}


// LOGIN VIEW
// ----------------------------
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  //margin-top: -40px;
  margin-left: -100px;
   text-align: center;
}
.login-button {
  max-width: 200px;
}


// CHECK OUT AND RETURNS
// ----------------------------
.pick-list {
  list-style:none;
  margin-left:0;
  padding-left:0;

  li {
    margin-bottom:8px;
    padding:2px;
    background-color:#eeeeee;
    cursor:pointer;

    label {
      font-weight: 300;

      em {
        font-weight: bold;
      }
    }
  }
}

.select-student {
  width:30%;
}