<h1>Listing books</h1>

<table>

  <tbody>
    <!-- 1. when books are available (t), iterate and show all available books. 
         2. when no books are available (f), print out "It was a a pleasure to burn." -->
    <% @books.each do |book| %>
          <ul>
            <li><%= book.title %> by <%= book.author %></li>
          </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
