<h1>Listing books</h1>

<table>
<img src="http://covers.librarything.com/devkey/d9924303b5c191093a8a43ef21ff6e1f/medium/isbn/0321127420" alt="enterprise patterns">


  <tbody>
    <!-- 1. when books are available (t), iterate and show all available books. 
         2. when no books are available (f), print out "It was a a pleasure to burn." -->
    <% @books.each do |book| %>
          <ul>
            <li><%= book.title %> by <%= book.author %></li>
          </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
