<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Welcome to Libary Thing!</title>
  </head>
  <body>
    <form action="start_submit" method="get" accept-charset="utf-8">
    <select>
  <option value="anders_ramsay">Anders Ramsay</option>
</select>
    <button type="">Check out a Book</button>
    <button type="">Return a Book</button>
    </form>
  </body>
</html>