// Place all the styles related to the libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.pick-list {
  list-style:none;
  margin-left:0;
  padding-left:0;

  li {
    background: #eeeeee;
    margin-bottom: 3px;
    padding: 2px;
  }

   li:hover {
    cursor: pointer;
  }
}
